pipeline/File-Params-Zentra-API-to-PostgeSQL.json
{
	"name": "File-Params-Zentra-API-to-PostgeSQL",
	"properties": {
		"activities": [
			{
				"name": "get_params",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "stations_table_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "for_each",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_params",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_params').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Station Poll",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "APICall",
								"method": "POST",
								"body": "@{string(item())}"
							},
							"linkedServiceName": {
								"referenceName": "Zentra_Function_ls",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-11-04T13:58:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}