pipeline/weather_station_poll.json
{
	"name": "weather_station_poll",
	"properties": {
		"activities": [
			{
				"name": "get_stations",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "stations_table_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "get_station_data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_stations",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_stations').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "station_poll",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "APICall",
								"method": "POST",
								"body": {
									"value": "@{string(item())}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "Zentra_Function_ls",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "raw_data_check",
							"description": "Check to see if raw_data.json exists.",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "station_poll",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "raw_data",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							}
						},
						{
							"name": "Check_metadata",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "raw_data_check",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('raw_data_check').output.Exists",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy raw data to raw_data table_copy",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "JsonSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "JsonReadSettings"
												}
											},
											"sink": {
												"type": "AzurePostgreSQLSink",
												"writeBatchSize": 1000000,
												"writeBatchTimeout": "00:30:00",
												"writeMethod": "CopyCommand"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"mappings": [
													{
														"source": {
															"path": "$['sn']"
														},
														"sink": {
															"name": "sn"
														}
													},
													{
														"source": {
															"path": "$['vendor']"
														},
														"sink": {
															"name": "vendor",
															"type": "String"
														}
													},
													{
														"source": {
															"path": "$['poll_date']"
														},
														"sink": {
															"name": "poll_date",
															"type": "DateTime"
														}
													},
													{
														"source": {
															"path": "$['data']"
														},
														"sink": {
															"name": "data",
															"type": "String"
														}
													}
												],
												"collectionReference": "",
												"mapComplexValuesToString": true
											}
										},
										"inputs": [
											{
												"referenceName": "raw_data",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "raw_data_table_ds",
												"type": "DatasetReference"
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-11-04T13:58:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}